BOT_TOKEN=your_token

# пути к моделям
SEGMENTATION_MODEL_PATH=weights/segformer_nvidia_mit-b2_best.pt
MODEL_EMBEDDER_PATH=models/embedder.pt

# устройство
DEVICE=cuda

# параметры сегментации
CLASSES=1
IMG_SIZE=768
THRESHOLD=0.5

# база данных
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=newt_detection
DATABASE_USER=newt_detection_user
DATABASE_USER_PASSWORD=qwerty

# опционально, если нужен прокси для Telegram API
PROXY_URL=http://user:pswd@host:port
