BOT_TOKEN=your_token

# пути к моделям
MODEL_KARELINA_PATH=models/karelin_newt_1.pt
MODEL_RIBBED_PATH=models/ribbed.pt

# устройство
DEVICE=cuda

# конфигурация сетки
ENCODER=resnet34
ENCODER_WEIGHTS=imagenet
CLASSES=1
